/* @import '~semantic-ui-css/semantic.min.css'; */
@import '~fomantic-ui-css/semantic.min.css';

/* App Outer Wrapper & Action Buttons */
.outer-wrapper {
  display: flex;
  height: 24px;
  z-index: 999;
  opacity: 1;
  background-color: #fff;
}

.outer-wrapper.manually-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.app-drag {
  width: 100%;
  margin-right: 50px;
  display: inline-block;
  -webkit-app-region: drag;
}

.outer-wrapper .logo {
  user-select: none;
  float: left;
  height: 12px;
  margin-top: 6px;
  margin-left: 6px;
}

.action-buttons {
  display: flex;
  height: 24px;
  margin-left: auto;
  float: right;
}

.action-buttons .item {
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 8px;
  /* border-right: 1px solid rgba(255, 255, 255, 0.08); */
}

.action-buttons .item:hover,
.action-buttons .item:active {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

.action-button-left-border {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.08);
}

/* App Outer Wrapper & Action Buttons Inverted */
.outer-wrapper.inverted {
  background-color: #111;
  border-bottom: none;
}
.outer-wrapper.inverted .action-buttons .item {
  color: rgba(255, 255, 255, 0.9);
}
.outer-wrapper.inverted .action-buttons .item:hover,
.outer-wrapper.inverted .action-buttons .item:active {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}

/* Scrollbar */
html,
body,
#root {
  overflow: hidden;
}
.route-wrapper {
  overflow-x: scroll;
}

.route-wrapper::-webkit-scrollbar {
  width: 16px;
}

.route-wrapper::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eee;
}

.route-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #ddd;
}

.route-wrapper.inverted::-webkit-scrollbar-track {
  background: #222;
}
.route-wrapper.inverted::-webkit-scrollbar-thumb {
  background: #111;
}

/* Helpers */
.disable-select {
  user-select: none;
}

.maximize-height {
  height: calc(100vh);
}

.maximize-height-with-nav {
  height: calc(100vh - 65px);
}

.maximize-width {
  width: 100vw;
}

.input-right-label {
  color: #fff;
  background: #ddd;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0px 10px;
  line-height: 38px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

body .ui.three.cards.field-data-card-group {
  color: #222;
}

.uppercase {
  text-transform: uppercase;
}

/*
.data-types {
  position: absolute;
  top: 160px;
  z-index: 9999;
}

*/
/* Semantic Fixes */
/* Inputs doesnt respect parent color */
.ui.fluid.input > input {
  color: inherit;
}

/* Sortable HOC Overrides */
body .item[role='listitem']:not(.data-types .item) {
  display: flex;
  width: 100%;
}

body .item[role='listitem'] .content {
  display: inline-flex;
}

body .item.inverted[role='listitem'] {
  color: rgba(255, 255, 255, 0.7);
}

.ui.ui.ui.ui.text.loader.loading-notification {
  position: fixed;
  top: 92%;
  left: 94%;
}

.ui.inverted.segment > .ui.inverted.header.muted-subheader .sub.header {
  color: #999999;
}

.ui.card,
.ui.cards > .card {
  transition: unset;
  -webkit-transition: unset;
}

/* Loading spinner fix when in list. https://github.com/Semantic-Org/Semantic-UI/issues/6717 */
.ui.list > .item > i.icon.loading {
  padding-right: 0 !important;
  vertical-align: middle !important;
}

.ui.horizontal.list .list > .item > .content,
.ui.horizontal.list .list > .item > .image,
.ui.horizontal.list .list > .item > i.icon,
.ui.horizontal.list > .item > .content,
.ui.horizontal.list > .item > .image,
.ui.horizontal.list > .item > i.icon {
  vertical-align: top;
}

/* Checkbox Slider Inverted Support */
.inverted .slider.checkbox label,
.inverted .slider.checkbox + label {
  color: #888 !important;
}

/* Slider Line */
.inverted .slider.checkbox .box:before,
.inverted .slider.checkbox label:before {
  background-color: #ddd !important;
}

/* Slider Hover */
.inverted .slider.checkbox .box:hover::before,
.inverted .slider.checkbox label:hover::before {
  background: #fff !important;
}

/* Slider Active */
.inverted .slider.checkbox input:checked ~ .box,
.inverted .slider.checkbox input:checked ~ label {
  color: #fff !important;
}
.inverted .slider.checkbox input:checked ~ .box:before,
.inverted .slider.checkbox input:checked ~ label:before {
  background-color: #fff !important;
}

/* Slider Active Focus */
.inverted .slider.checkbox input:focus:checked ~ .box,
.inverted .slider.checkbox input:focus:checked ~ label {
  color: #fff !important;
}
.inverted .slider.checkbox input:focus:checked ~ .box:before,
.inverted .slider.checkbox input:focus:checked ~ label:before {
  background-color: #fff !important;
}
